USE [master]
GO

CREATE DATABASE [HR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HR', FILENAME = N'D:\Setups\Microsoft SQL Server 2012\Microsoft SQL Server 2012——实例根目录\MSSQL11.MSSQLSERVER\MSSQL\DATA\HR.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HR_log', FILENAME = N'D:\Setups\Microsoft SQL Server 2012\Microsoft SQL Server 2012——实例根目录\MSSQL11.MSSQLSERVER\MSSQL\DATA\HR_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HR]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTable](
	[UserName] [varchar](10) NOT NULL,
	[PassWord] [varchar](50) NOT NULL,
	[Type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[部门表](
	[部门编号] [varchar](10) NOT NULL,
	[部门名称] [varchar](10) NOT NULL,
 CONSTRAINT [PK_部门] PRIMARY KEY CLUSTERED 
(
	[部门编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[工资表](
	[流水号] [bigint] IDENTITY(1,1) NOT NULL,
	[员工号] [varchar](10) NOT NULL,
	[计薪年月] [varchar](6) NOT NULL,
	[发放日期] [datetime] NOT NULL,
	[月薪] [varchar](10) NOT NULL,
	[加班费] [varchar](10) NULL,
	[节假日补贴] [varchar](10) NULL,
	[高温补贴] [varchar](10) NULL,
	[住房补贴] [varchar](10) NULL,
	[交通补贴] [varchar](10) NULL,
	[其他加项] [varchar](10) NULL,
	[所得税] [varchar](10) NULL,
	[公积金] [varchar](10) NULL,
	[社会保险] [varchar](10) NULL,
	[其他扣资] [varchar](10) NULL,
	[实发工资] [varchar](10) NOT NULL,
	[制表人] [varchar](10) NULL,
	[制表时间] [datetime] NULL,
	[审核人] [varchar](10) NULL,
	[审核时间] [datetime] NULL,
	[备注] [varchar](100) NULL,
 CONSTRAINT [PK_工资条] PRIMARY KEY CLUSTERED 
(
	[流水号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[奖惩表](
	[记录号] [bigint] NOT NULL,
	[员工号] [varchar](10) NOT NULL,
	[奖惩名称] [varchar](20) NOT NULL,
	[奖惩类型] [varchar](2) NOT NULL,
	[计薪年月] [varchar](6) NULL,
	[奖惩日期] [datetime] NULL,
	[奖惩金额] [varchar](10) NULL,
	[奖惩原因] [varchar](100) NULL,
 CONSTRAINT [PK_奖罚表] PRIMARY KEY CLUSTERED 
(
	[记录号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[考勤表](
	[记录号] [bigint] NOT NULL,
	[计薪年月] [varchar](6) NOT NULL,
	[员工号] [varchar](10) NOT NULL,
	[应勤天数] [varchar](10) NOT NULL,
	[实际出勤] [varchar](10) NOT NULL,
	[加班天数] [varchar](10) NULL,
	[事假天数] [varchar](10) NULL,
	[病假天数] [varchar](10) NULL,
	[年假天数] [varchar](10) NULL,
	[婚葬产假] [varchar](10) NULL,
	[调休天数] [varchar](10) NULL,
	[矿工天数] [varchar](10) NULL,
	[迟到早退] [varchar](10) NULL,
	[备注] [varchar](100) NULL,
 CONSTRAINT [PK_考勤表] PRIMARY KEY CLUSTERED 
(
	[记录号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[员工表](
	[员工号] [varchar](10) NOT NULL,
	[姓名] [varchar](20) NOT NULL,
	[性别] [varchar](2) NOT NULL,
	[部门] [varchar](10) NOT NULL,
	[出生日期] [datetime] NOT NULL,
	[月薪] [varchar](10) NOT NULL,
	[开户行] [varchar](50) NULL,
	[账号] [varchar](20) NULL,
 CONSTRAINT [PK_员工表] PRIMARY KEY CLUSTERED 
(
	[员工号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[奖惩表]  WITH CHECK ADD  CONSTRAINT [FK_奖惩表_员工表] FOREIGN KEY([员工号])
REFERENCES [dbo].[员工表] ([员工号])
GO
ALTER TABLE [dbo].[奖惩表] CHECK CONSTRAINT [FK_奖惩表_员工表]
GO
ALTER TABLE [dbo].[考勤表]  WITH CHECK ADD  CONSTRAINT [FK_考勤表_员工表] FOREIGN KEY([员工号])
REFERENCES [dbo].[员工表] ([员工号])
GO
ALTER TABLE [dbo].[考勤表] CHECK CONSTRAINT [FK_考勤表_员工表]
GO
USE [master]
GO
